* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  min-height: 100vh;
  width: 100%;
  background: var(--background-color);
}
:root {
  --background-color: #16151d;
  --primary-color: #ffffff;
  --secondary-color: #cccccc;
  --accent-color: #3498db;
  --button-color: #713abe;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--primary-color);
}
